---
import HexapawnGameClient from "./hexapawn/HexapawnGameClient"
import "@/styles/hexapawn/styles.css"
---

<HexapawnGameClient client:load />

<section class="game-rules">
    <h2>Game Rules</h2>
    <ul>
        <li>Pawns move 1 square forward</li>
        <li>Pawns capture diagonally</li>
        <li>Win by reaching the opponent's last row with a pawn</li>
        <li>Also win by leaving the opponent without valid moves</li>
    </ul>
</section>
