main {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto 0 auto;
    max-width: 75rem;
    gap: 2rem;
    padding: 2rem;
    align-items: flex-start;
}

.item{
    border-radius: 45px;
    border: solid 10px #fff;
    width: 35px;
    height: 35px;
}
.red {
    background-color: #fd0c49;
    transition: background-color 0.4s ease;
}

.green {
    background-color: #7ac943;
    transition: background-color 0.4s ease;
}
