---
import Image from "astro/components/Image.astro"
import logo from "@/images/logo.png"
---

<header>
    <Image src={logo} alt="Logo" width={100} />
    <h1>Mini Arcade</h1>

    <nav>
        <ul>
            <li><a href="/">Games</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Sign Up</a></li>
        </ul>
    </nav>
</header>

<style></style>
