---
import "./css/styles.css"
import Layout from "@/layouts/Layout.astro"
---

<Layout>
    <h1>Hexapawn</h1>
    <form action="game" id="player-name-form">
        <label for="player-name"
            >Nombre del jugador:
            <input type="text" id="player-name" name="player-name" required />
        </label>
        <button>Iniciar Juego</button>
    </form>
    <script type="module" src="js/app.js"></script>
</Layout>
