---
import Header from "@/components/sections/Header.astro"
import Footer from "@/components/sections/Footer.astro"

import "@/styles/global.css"

const { title } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
        <title>{title ?? "Mini Arcade"}</title>
    </head>
    <body
        class="flex flex-col min-h-screen bg-primary container mx-auto text-white"
    >
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style>
    body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        line-height: 1.6;
        padding: var(--spacing-md);
    }
</style>
